<p> Hey, <%= @user.name %>! </p>
<p> Welcome to the CollegeStrong beta. We are super excited to help you start working out more. The program beta will begin on the evening Thursday, January 10th. Please make sure you have updated your phone number in the "My Page" section of the website. For the beta, we will be sending out workouts only via text message. We will be checking in with you often to hear how things are going, but if you would like to send feedback sooner, contact Jason.merwe@gmail.com or use the website. </p>

<p> Again, welcome! Hope you enjoy the program. </p>

<p> The CollegeStrong Team </p>