
<div class="header"> My Info </div>
<div class="row">
	<div class="span10 offset7">

		<div class="square">
			<div class="row">
				<div class="span4">
					<div> Name: </div>
				</div>
				<div class="span4">
					<div><%= @user.name %></div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<div> Number: </div>
				</div>
				<div class="span4">
					<div><%= @user.number %></div>
				</div>
			</div>
			<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary btn-edit"%> |
			<%= link_to 'Back', users_path %>
		</div>
	</div>
</div>
