<div id="myCarousel" class="carousel slide" style="margin-top: -15px; height: 600px;">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div class="img" style="background-image: url('/assets/frontpicfinal.jpg');">
        <div class="carousel-caption"> 
          <h1>Connect with Talented University Students</h1>
          <hr />
          <div class="caption">
            <div class="caption-text pull-left">
              Get the skills of an intern with the flexibility of a freelancer.
            </div>
            <%= link_to "Sign Up", new_company_registration_path, class: "btn btn-primary btn-large pull-right" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel nav 
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  -->
</div>
