<div id="myCarousel" class="carousel slide" style="margin-top: -85px; height: 600px;">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div class="img" style="background-image: url('/assets/covergym.jpg');">
        <div class="carousel-caption"> 
          <%= simple_form_for @user do |f| %>
          <%= f.input :name, label: "asda" %>
          <% end %>
          <hr />
          <div class="caption">
            <div class="caption-text pull-left">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel nav 
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  -->
</div>
