<div class="header">
	About Us
</div>
<div class="row">
	<div class="span18 offset3">
		<div class="square">
			
			<div class="row">
				<div class="span6 t-center" style="margin-left:1px">
					<h1 class="about_header"> Where It All Began </h1>
					<%= image_tag "Jason.jpg", :style => "height:300px; margin-left:-19px" %>
				</div>
				<div class="span11" style="margin-top:10px">
					CollegeStrong began in 2012 as a result of Jason van der Merwe's research project for a class taught by Professor BJ Fogg (bjfogg.com). Jason's research focused on helping college males exercise for 15 minutes a day inside the dorm room. As a sophomore at Stanford University, Jason encountered the problem - when schedules get busy, "gym time" gets dropped. CollegeStrong is the culmination of this research; a program designed to help college students to exercise Monday - Friday without having to leave the dorm room. Jason hopes that this program will be a simple, and effective, method for helping college students exercise more often.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span18 offset3">
		<div class="square">
			<h1 class="about_header"> How It Works </h1>
			<div class="row" style="margin-top:10px; margin-left:auto">
				<div class="span8">
					<div class="about_steps"> Step One </div>
					<div style="margin-top:10px">Sign up on our website - all you have to do is visit the home page. Then enter your preferences under "My Page". We use these preferences to match to you with the proper workouts. CollegeStrong uses texting to communicate with its members - this way we can act as your personal trainer. Don't worry, we won't spam you!</div>
				</div>
				<div class="span8 offset1" style="margin-left: 34px">
					<div class="about_steps"> Step Two </div>
					<div style="margin-top:10px">At the appropriate time, CollegeStrong will text you with the workout, eliminating the need for you to remember anything. Texts act as triggers, so if you can, do the workout right away! Each day a different workout will be sent to you with a different exercise cateorgy, either cardio, strength or cross training. If exercises are too easy, you can increase the difficulty in "My Page".</div>
				</div>
			</div>
		</div>
	</div>
</div>

