<%= render partial: "home/carousel" %>
<div class="container">
	<div class="row">
		<div class="span20 offset2">
			<div class="square about-portal t-center">
				<div> CollegeStrong is a program designed to help college students exercise more often. Time is of the essence at college and going to a gym is often out of the question, so CollegeStrong takes a different approach - working out in the dorm room. After signing up, you will receive a daily text message with a specially designed, 15 minutes or less workout. The text messages will remind you to workout so that you don't have to remember. Ready? Join CollegeStrong.</div>
			</div>
		</div>
	</div>
</div>