/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "colorscheme.scss";
 @import "bootstrap-responsive";
 @import "bootstrap_overrides";
 @import "bootstrap";
 @import "home.css.scss";
 @import "fonts";


 * {
 	font: 18px/28px 'roboto';
 	font-weight: 100;
 	font-style: normal;
 	@include box-sizing(border-box);
 }

 h1, h2 {
  // letter-spacing: 2px;
  font: 21px/10px "roboto";
  font-weight: 100;
  &.big {
  	font: 29px/38px "roboto";
  	font-weight: 500;
  }
  &.form {
  	padding-bottom: 10px;
  }
}

h3, h4 {
	font: 18px/27px "roboto";
	font-weight: 100;
	&.big {
		font: 26px/28px "roboto";
		font-weight: 500;
	}
}

a.btn:visited { color: #fff; }

.text-center, .t-center {
	text-align: center;
}
.header {
	font: 53px/84px "roboto";
	font-weight: 100;
	text-align: center;
  // font-size: 30px;
  // @include gradient-horizontal(white, $one);
  // width: 300px;
  padding: 8px;
  //@include box-shadow(2px 2px 2px 0 white);
}

a {
	font-family: 'roboto';
	color:white;
	&:hover {
		color: white;
	}
	&:visited {
		color: white;
	}
}

#content {
	margin-top: 30px;
	min-height: 760px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 35px;
  //@include border-radius(0 0px 35px 35px);
  > .container {

  }

  > .alerts-container {
  	padding: 15px;

  	&.home-index {
  		z-index: 10;
  		position: absolute;
  		margin: 0 auto;
  		width: 100%;
  	}

  	> .alerts {
  		margin: 0 auto;
  		width: 940px;
  		.alert {
  			margin-bottom: 10px;
  		}
  	}
  }

}

.navbar div.btn-group {
	display:inline-block;
	padding: 0;
}

.navbar-fixed-top .navbar-inner {
	border: none;
	color: white;

	a {
		font-family: 'roboto';
		font-weight: 100;
		font-style: normal;
	}

	a.brand {
		font-size: 25px;
		line-height: 30px;
	}

	li > a, a {
		font-size: 16px;
		line-height: inital;
		line-height: 30px;
	}

	#main-btn-group {
		width: 301px;
		margin: 0 auto;
		display: block;
	}
}

body {
	background-image: $lightBg;
}


.carousel div.img {
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 783px;
	width: 100%;

	.carousel-caption {
		background-color: rgba(10, 108, 135, 0.70);
		padding: 25px;
		position: absolute;
		left: 60%;
		top: 30%;
		/* TODO Try l:10, t:15 */
		color: white;
		max-width: 450px;
		display: inline-block;
		height: 250px;

		@media (max-width: 979px) {
			& {
				margin: 0 auto;
				top: 250px;
				left: 0%;
			}
		}

		h1 {
			text-shadow: 2px 2px 0px black;
			font-size: 34px;
			line-height: 35px;
			font-family: 'roboto';
			font-weight: 100;
			text-align: center;
		}

		hr { border-color: white; margin-top: 7px;}

		.caption-text {
			font-size: 18px;
			max-width: 70%;
			text-shadow: 1px 1px 0px black;
			line-height: 22px;
		}
	}
}

.square {
	color: white;
	margin-top: 15px;
	background-color: $zer;
	padding: 18px  25px;
  //@include border-radius(7px);
  @include box-shadow(black 0px 2px 17px -1px);
  > img.profile {
  	margin: 12px initial;
  	margin-top: -8px;
  }
  div {
  }
}

.signupformlabel {
	float:left;
	margin-right: 20px;

	font-size: 19px;
	font-family: 'roboto';
	font-weight: 100;
}

.signupforminput{
	margin-top: 5px;
}