/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen
 */
 @import "colorscheme.scss";
 
 @import "bootstrap-responsive";
 @import "bootstrap_overrides";
 @import "bootstrap";
 @import "fonts";
 @import "redmond/jquery-ui-1.8.23.custom.css";
 @import "workouts.css.scss";
 @import "users.css.scss";
 @import "home.css.scss";


 * {
 	font: 18px/28px 'roboto';
 	font-weight: 100;
 	font-style: normal;
 	@include box-sizing(border-box);
 }

 h1, h2 {
  // letter-spacing: 2px;
  font: 21px/22px "roboto";
  font-weight: 100;
  &.big {
  	font: 29px/38px "roboto";
  	font-weight: 500;
  }
  &.form {
  	padding-bottom: 10px;
  }
}

h3, h4 {
	font: 18px/27px "roboto";
	font-weight: 100;
	&.big {
		font: 26px/28px "roboto";
		font-weight: 500;
	}
}

a.btn:visited { color: #fff; }

.text-center, .t-center {
	text-align: center;
}
.header {
	font: 53px/84px "roboto";
	font-weight: 100;
	text-align: center;
  // font-size: 30px;
  // @include gradient-horizontal(white, $one);
  // width: 300px;
  padding: 8px;
  //@include box-shadow(2px 2px 2px 0 white);
}

a {
	font-family: 'roboto';
	color:white;
	&:hover {
		color: white;
	}
	&:visited {
		color: white;
	}
}

#content {
	min-height: 760px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 35px;
  //@include border-radius(0 0px 35px 35px);
  > .container {

  }

  > .alerts-container {
  	padding: 15px;

  	&.home-index {
  		z-index: 10;
  		position: absolute;
  		margin: 0 auto;
  		width: 100%;
  	}

  	> .alerts {
  		margin: 0 auto;
  		width: 940px;
  		.alert {
  			margin-bottom: 10px;
  		}
  	}
  }

}

.navbar div.btn-group {
	display:inline-block;
	padding: 0;
}

.navbar-fixed-top .navbar-inner {
	border: none;
	color: white;

	a {
		font-family: 'roboto';
		font-weight: 100;
		font-style: normal;
	}	

	a.brand {
		font-size: 25px;
		line-height: 30px;
	}

	li > a, a {
		font-size: 16px;
		line-height: inital;
		line-height: 30px;
	}

	#main-btn-group {
		width: 301px;
		margin: 0 auto;
		display: block;
	}
}

body {
	background-image: $lightBg;
}




.square {
	color: white;
	margin-top: 15px;
	background-color: $zer;
	padding: 18px  25px;
  //@include border-radius(7px);
  @include box-shadow(black 0px 2px 17px -1px);
  > img.profile {
  	margin: 12px initial;
  	margin-top: -8px;
  }
  div {
  }
}

.signupformlabel {
	float:left;
	margin-right: 20px;

	font-size: 19px;
	font-family: 'roboto';
	font-weight: 100;
}

.signupforminput{
	margin-top: 5px;
}