/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "colorscheme.scss";
@import "bootstrap-responsive";
@import "bootstrap_overrides";
@import "bootstrap";
@import "home.css.scss";
@import "fonts";
@import "http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css";

* {
  font: 18px/20px 'roboto';
  font-weight: 100;
  font-style: normal;
  @include box-sizing(border-box);
}


a {
  font-family: 'roboto';
}

#content {
  margin-top: 50px;
  min-height: 760px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 35px;
  //@include border-radius(0 0px 35px 35px);
   > .container {

   }

   > .alerts-container {
     padding: 15px;

     &.home-index {
       z-index: 10;
       position: absolute;
       margin: 0 auto;
       width: 100%;
     }

     > .alerts {
       margin: 0 auto;
       width: 940px;
       .alert {
         margin-bottom: 0;
       }
     }
   }
}

.navbar div.btn-group {
  display:inline-block;
  padding: 0;
}

.navbar-fixed-top .navbar-inner {
	border: none;
  color: white;
  
  a {
    font-family: 'roboto';
    font-weight: 100;
    font-style: normal;
  }

  a.brand {
    font-size: 25px;
    line-height: 30px;
  }

  li > a, a {
    font-size: 16px;
    line-height: inital;
    line-height: 30px;
  }

  #main-btn-group {
    width: 301px;
    margin: 0 auto;
      display: block;
  }
}


.carousel div.img {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 783px;
  width: 100%;

  .carousel-caption {
    background-color: rgba(100, 100, 100, 0.50);
    padding: 25px;
    position: absolute;
    left: 60%;
    top: 30%;
    /* TODO Try l:10, t:15 */
    color: white;
    max-width: 400px;
    height: 190px;

    @media (max-width: 979px) {
      & {
        margin: 0 auto;
        top: 250px;
        left: 0%;
      }
    }

    h1 {
      text-shadow: 2px 2px 0px black;
      font-size: 34px;
      line-height: 35px;
      font-family: 'signikalight';
    }

    hr { border-color: white; margin-top: 7px;}

    .caption-text {
      font-size: 18px;
      max-width: 70%;
      text-shadow: 1px 1px 0px black;
      line-height: 22px;
    }
  }

}