// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.footer {
	height: 50px;
	text-align:center;
	font: 25px "roboto";
	font-weight: 100;
	color: black;
	padding: 10px 0;
	margin-bottom: 10px;

	li {
		list-style: none;
		text-align: left;
		padding: 2px;
	}
}

.carousel div.img {
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	height: 783px;
	width: 100%;

	.carousel-caption {
		background-color: rgba(10, 108, 135, 0.70);
		padding: 25px;
		position: absolute;
		left: 37%;
		top: 31%;
		/* TODO Try l:10, t:15 */
		color: white;
		max-width: 450px;
		display: inline-block;
		height: 285px;

		@media (max-width: 979px) {
			& {
				margin: 0 auto;
				top: 250px;
				left: 0%;
				max-width: 250px;
			}
		}

		h1 {
			text-shadow: 2px 2px 0px black;
			font-size: 34px;
			line-height: 35px;
			font-family: 'roboto';
			font-weight: 100;
			text-align: center;
		}

		hr { border-color: white; margin-top: 7px;}

		.caption-text {
			font-size: 18px;
			max-width: 70%;
			text-shadow: 1px 1px 0px black;
			line-height: 22px;
		}
	}
}

.square.about-portal {
	background-color: white;
	position: relative;
	margin-top: -85px;
	margin-bottom: 25px;
	color: black;
	font-size: 25px;
	padding: 15px;

	.half-width {
		width: 413px;
	}

	.vr {
		float: left;

		height: 100px;
	}

	.t-center {
		margin-top: 5px;
	}

	.btn-center {
		width: 200px;
		margin-top: 10px;
	}

	@media (max-width: 979px) {
		& {
			height: initial;
			width: 330px;
			margin: 0 auto;
			padding: 10px 15px;
		}
		.half-width {
			width: 270px;
			float: none;
			margin: 30px auto;
		}
		.vr {display: none;}
	}
}

.about_header {
	font: 25px "roboto";
	font-weight: 200;
	background: #770202;
	padding: 10px;
	padding-left: 24px;
	padding-right: 22px;
	margin-left: -25px;
	display: inline-block;
}

.about_steps{
	font: 25px "roboto";
	font-weight: 200;
	text-align:center;
}
