<div id="feedback-tab" data-toggle="modal" data-target="#feedback-modal">Feedback</div>
<div id="feedback-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="big">Contact Us</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-success hide"></div>
    <div class="alert alert-error hide"></div>
    <form id="feedback-form">
      <div>
        Your name / email: 
        <input id="contact_from" name="from" type="text" />
      </div>
      <div>
        Your feedback: 
        <textarea id="contact_msg" name="msg" style="width:500px;height:150px;" ></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-large" data-dismiss="modal">Cancel</a>
    <a href="#feedback-form" id="feedback-send" class="btn btn-large btn-primary" data-loading-text="Sending...">
      Send Feedback
    </a>
  </div>
</div>
